<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433 을 방문하십시오.
  -->

<configuration>
  <configSections>
    <section name="theone.configuration" type="TheOne.Configuration.SectionHandler, OneCorLib" />
  </configSections>
  <appSettings>
    <!-- Rexpert 정의 시작 -->
    <add key="rex.datatype" value="XML"/>
    <add key="rex.ManagerPassword" value="rexpert"/>
    <add key="rex.license" value="cEl/nXdGPytbMCRmRejxBUzSycIOHh20YLOzKOiUFbM+5YKp7gbUmKeMvNFTZ4hWBiF6qeTC0Wn0S2AGz139O9h/xkH2G/H7bWveLr3nD4+db3COOlLVWAkY8FxIt7uyu2mY2pl1LvIxbSNmlb+2HVswJGZF6PEFhyxL+3CiwekNEVrRiR3yUj7lgqnuBtSY7q84+QGMj2fM5rHD8h/C4+jBK8lvSTh+fpZ7DsVL0WXn3MV4aXzno7lNME3ypVHJ7+IdudUQyYizaLKpvcNQPNqFJczWa5hi9oo8mPDhk7aznKezl8cYeN1yQDSM9B4ibf706nwBhx4IZTbBgNoRfFmdCwwW0Qzd"/>
    <!-- Rexpert 정의 끝 -->
  </appSettings>
  <theone.configuration>
    <serviceModelSection>
      <addresses defaultAddress="EP">
        <add name="EP" url="http://scmap.seoyonehap.com/" />
      </addresses>
      <bindings defaultBinding="customBinding">
        <add name="customBinding" binding="customBinding" bindingConfiguration="customBinding" />
      </bindings>
    </serviceModelSection>
  </theone.configuration>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="TheOne.ServiceModel.GZipEncoder.GZipMessageEncodingElement, TheOne.ServiceModel" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="customBinding" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" operationMode="enabled">
            <readerQuotas maxArrayLength="2147483647"/>
          </gzipMessageEncoding>
          <httpTransport maxReceivedMessageSize="300000000" transferMode="Buffered" keepAliveEnabled="false"/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  <!--리포트 처리를 위한 설정-->
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".rex" mimeType="text/xml" />
      <mimeMap fileExtension=".reb" mimeType="bin/reb" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
