<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="theone.configuration" type="TheOne.Configuration.SectionHandler, OneCorLib"/>
  </configSections>
  <theone.configuration>
    <databaseSection defaultDatabase="SCM">
      <add name="SCM" connectionString="Data Source=SYAP;Persist Security Info=True;User ID=sis;password=sis100" type="TheOne.Data.Odp.OdpDbAccess, TheOne.Data.Odp"/>
    </databaseSection>
    <logSection>
      <fileLog enabled="true" baseLogLevel="Verbose" logDirectory="C:\Temp\Ax.EP" defaultPrefix="EP"/>
    </logSection>
    <serviceModelSection>
      <bindings defaultBinding="customBindingMap">
        <add name="customBindingMap" binding="customBinding" bindingConfiguration="customBinding" behaviorConfiguration="ServiceBehavior"/>
      </bindings>
    </serviceModelSection>
  </theone.configuration>
  <!-- 서버에서는 버전 정보가 필요 여기부터 -->
  <!--
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342"/>
        <bindingRedirect oldVersion="0.0.0.0-2.111.7.20" newVersion="4.112.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  -->
  <!-- 서버에서는 버전정보가 필요 여기까지 -->
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="TheOne.ServiceModel.GZipEncoder.GZipMessageEncodingElement, TheOne.ServiceModel"/>
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="customBinding" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <gzipMessageEncoding  innerMessageEncoding="textMessageEncoding" operationMode="enabled">
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          </gzipMessageEncoding>
          <httpTransport maxReceivedMessageSize="2000000000" transferMode="Buffered" keepAliveEnabled="false"/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="96" maxConcurrentSessions="60" maxConcurrentInstances="156"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout="90" maxRequestLength="1048576" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>